{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Home</h1>
        <p>Hola Mundo Soy Mariadelc. Duis aliquet nec velit et rutrum. In dignissim varius ornare. Cras eu dapibus mauris, a pellentesque nunc. Quisque id magna quis massa venenatis maximus. Maecenas vel suscipit mauris. Vivamus sollicitudin congue iaculis. Pellentesque faucibus suscipit tellus, maximus imperdiet urna scelerisque quis. Duis a metus condimentum, ullamcorper lectus in, sagittis mi. Praesent scelerisque velit sit amet ante ullamcorper varius. Vivamus in tortor justo. Maecenas tincidunt, ligula eu sagittis commodo, tortor tortor hendrerit nulla, sit amet eleifend nulla ipsum sed arcu. Nullam at arcu et metus mollis blandit. Aliquam sollicitudin consequat est, sit amet.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signing">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>

    </section>
</main>
{% endblock %}


